{{#let (unique-id) as |formId|}}
  <AuModal
    @modalOpen={{@modalOpen}}
    @closable={{true}}
    @closeModal={{this.cancel}}
  >
    <:title>{{this.title}}</:title>
    <:body>
      <form class="au-c-form" id={{formId}} {{on "submit" this.save}}>
        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              Predicate
            </AuLabel>
            <AuInput
              id={{id}}
              @value={{this.newPredicate}}
              @width="block"
              {{on "input" this.updatePredicate}}
            />
          {{/let}}
        </AuFormRow>
        <AuFormRow>
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              Type
            </AuLabel>
            <PowerSelect
              id={{id}}
              @searchEnabled={{false}}
              @options={{this.typeOptions}}
              @selected={{this.valueType}}
              @onChange={{this.selectValueType}}
              as |option|
            >
              {{option}}

            </PowerSelect>

          {{/let}}

        </AuFormRow>
        {{#if (eq this.valueType 'Literal')}}

        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{false}} @requiredLabel="Required">
             Datatype
            </AuLabel>
            <AuInput
              id={{id}}
              required={{false}}
              @value={{this.newDataType}}
              @width="block"
              @disabled={{this.newLanguage.length}}
              {{on "input" this.updateDataType}}
            />
          {{/let}}
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{false}} @requiredLabel="Required">
             Language
            </AuLabel>
            <AuInput
              id={{id}}
              required={{false}}
              @value={{this.newLanguage}}
              @width="block"
              @disabled={{this.newDataType.length}}
              {{on "input" this.updateLanguage}}
            />
          {{/let}}
        </AuFormRow>
        {{else}}
        {{/if}}
        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              Object
            </AuLabel>
            <AuInput
              id={{id}}
              required={{true}}
              @value={{this.newObjectValue}}
              @width="block"
              {{on "input" this.updateObject}}
            />
          {{/let}}
        </AuFormRow>
      </form>
    </:body>
    <:footer>
      <AuButtonGroup>
        <AuButton
          form={{formId}}
          type="submit"
          @disabled={{not this.canSave}}
        >Save</AuButton>
        <AuButton @skin="secondary" {{on "click" this.cancel}}>Cancel</AuButton>
      </AuButtonGroup>
    </:footer>
  </AuModal>
{{/let}}