{{#if @controller}}
<div class="say-toolbar__button say-toolbar__highlight-button">
  <button
    type='button'
    class='main {{if @active "is-active"}} {{if @disabled "is-disabled"}}'
    title={{t 'ember-rdfa-editor.highlight.button-label'}}
    {{on 'click' (fn this.setHighlight this.selectedColor)}}
  >
    <AuIcon 
      @icon='pencil' 
      @ariaHidden={{true}} 
      @size='large' 
      style={{html-safe (concat "border-bottom-color: " this.selectedColor)}}
    />
  </button>
  <div class="say-dropdown options">
    <div
    class='say-dropdown__button'
    title={{t 'ember-rdfa-editor.highlight.options-label'}}
    disabled={{@disabled}}
  >
    <AuIcon @icon='chevron-down' @ariaHidden={{true}} @size='large' />
    <input 
      type="color" 
      id='say-highlight-color' 
      value={{this.selectedColor}}
      list="presetColors"
      {{on 'change' this.onColorPickerChange}}
    />
    <datalist id="presetColors">
      {{#each @presetColors as |color|}}
        <option>{{color}}</option>/>
      {{/each}}
    </datalist>
  </div>
  </div>
</div>
{{/if}}