<span data-inline-rdfa class="say-inline-rdfa say-editable">
  <EmberNode::EmbeddedEditor
    @controller={{@controller}}
    @node={{@node}}
    @view={{@view}}
    @getPos={{@getPos}}
    @selected={{@selected}}
    @initEditor={{this.initEditor}}
    @decorations={{@decorations}}
    @contentDecorations={{@contentDecorations}}
    @plugins={{this.plugins}}
    {{leave-on-enter-key this.controller @getPos}}
  />
</span>