<Toolbar::Dropdown
  @controller={{@controller}}
  @icon="table"
  @label={{t 'ember-rdfa-editor.table-options'}}
  @hideLabel={{true}}
  @disabled={{@controller.inEmbeddedView}}
  as |Menu|
>
  {{#if this.isInTable}}
    <Menu.Item
      @menuAction={{this.insertRowBelow}}
      title={{t 'ember-rdfa-editor.add-row-below'}}
    >
      <AuIcon @icon='table-row-end-add' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.add-row-below'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.insertRowAbove}}
      title={{t 'ember-rdfa-editor.add-row-above'}}
    >
      <AuIcon @icon='table-row-start-add' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.add-row-above'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.insertColumnAfter}}
      title={{t 'ember-rdfa-editor.add-column-after'}}
    >
      <AuIcon @icon='table-column-end-add' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.add-column-after'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.insertColumnBefore}}
      title={{t 'ember-rdfa-editor.add-column-before'}}
    >
      <AuIcon @icon='table-column-start-add' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.add-column-before'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.removeTableRow}}
      title={{t 'ember-rdfa-editor.delete-row'}}
    >
      <AuIcon @icon='table-row-remove' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.delete-row'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.removeTableColumn}}
      title={{t 'ember-rdfa-editor.delete-column'}}
    >
      <AuIcon @icon='table-column-remove' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.delete-column'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.removeTable}}
      title={{t 'ember-rdfa-editor.delete-table'}}
    >
      <AuIcon @icon='bin' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.delete-table'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.toggleHeaderRow}}
      title={{t 'ember-rdfa-editor.toggle-header-row'}}
    >
      {{t 'ember-rdfa-editor.toggle-header-row'}}
    </Menu.Item>
    <Menu.Item
      @menuAction={{this.toggleHeaderColumn}}
      title={{t 'ember-rdfa-editor.toggle-header-column'}}
    >
      {{t 'ember-rdfa-editor.toggle-header-column'}}
    </Menu.Item>
  {{else}}
    <div role='group'>
      <div role='menuitem' class='say-dropdown__menu-with-inputs'>
        {{t 'ember-rdfa-editor.columns'}}
        <AuLabel for='editor-table-columns' class='au-u-hidden-visually'>{{t
            'ember-rdfa-editor.columns'
          }}</AuLabel>
        <Input
          id='editor-table-columns'
          class='say-input say-input--small'
          size='1'
          @value={{this.tableAddColumns}}
        />
      </div>
    </div>
    <div role='group'>
      <div role='menuitem' class='say-dropdown__menu-with-inputs'>
        {{t 'ember-rdfa-editor.rows'}}
        <AuLabel for='editor-table-rows' class='au-u-hidden-visually'>{{t
            'ember-rdfa-editor.rows'
          }}</AuLabel>
        <Input
          id='editor-table-rows'
          class='say-input say-input--small'
          size='1'
          @value={{this.tableAddRows}}
        />
      </div>
    </div>
    <Menu.Item
      @menuAction={{fn this.insertTable this.tableAddRows this.tableAddColumns}}
      title={{t 'ember-rdfa-editor.insert-table'}}
    >
      <AuIcon @icon='table-insert' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.insert-table'}}
    </Menu.Item>
  {{/if}}
</Toolbar::Dropdown>
<Toolbar::Button
  @title={{t 'ember-rdfa-editor.add-column-after'}}
  @icon='table-column-end-add'
  {{on 'click' this.insertColumnAfter}}
  @disabled={{not this.isInTable}}
/>
<Toolbar::Button
  @title={{t 'ember-rdfa-editor.add-row-below'}}
  @icon='table-row-end-add'
  {{on 'click' this.insertRowBelow}}
  @disabled={{not this.isInTable}}
/>