<Toolbar::Dropdown
  @controller={{@controller}}
  @icon="table"
  @label={{t 'ember-rdfa-editor.table.table-options'}}
  title={{t 'ember-rdfa-editor.table.table-options'}}
  @hideLabel={{true}}
  @disabled={{not this.canInsertTable}}
  as |Menu|
>
  {{#if this.isInTable}}
    {{#each this.tableActions as |action|}}
      <Menu.Item
        @menuAction={{(fn this.executeAction action)}}
        title={{action.title}}
        disabled={{not (this.canExecuteAction action)}}
      >
        {{#if action.icon}}
          <AuIcon @icon={{action.icon}} @ariaHidden={{true}} />
        {{/if}}
        {{action.title}}
      </Menu.Item>
    {{/each}}
  {{else}}
    <div role='group'>
      <div role='menuitem' class='say-dropdown__menu-with-inputs'>
        {{t 'ember-rdfa-editor.table.columns'}}
        <AuLabel for='editor-table-columns' class='au-u-hidden-visually'>{{t
            'ember-rdfa-editor.table.columns'
          }}</AuLabel>
        <Input
          id='editor-table-columns'
          class='say-input say-input--small'
          size='1'
          @value={{this.tableAddColumns}}
        />
      </div>
    </div>
    <div role='group'>
      <div role='menuitem' class='say-dropdown__menu-with-inputs'>
        {{t 'ember-rdfa-editor.table.rows'}}
        <AuLabel for='editor-table-rows' class='au-u-hidden-visually'>{{t
            'ember-rdfa-editor.table.rows'
          }}</AuLabel>
        <Input
          id='editor-table-rows'
          class='say-input say-input--small'
          size='1'
          @value={{this.tableAddRows}}
        />
      </div>
    </div>
    <Menu.Item
      @menuAction={{fn this.insertTable this.tableAddRows this.tableAddColumns}}
      title={{t 'ember-rdfa-editor.table.insert-table'}}
    >
      <AuIcon @icon='table-insert' @ariaHidden={{true}} />
      {{t 'ember-rdfa-editor.table.insert-table'}}
    </Menu.Item>
  {{/if}}
</Toolbar::Dropdown>
<Toolbar::Button
  @title={{t 'ember-rdfa-editor.table.add-column-after'}}
  @icon='table-column-end-add'
  {{on 'click' this.insertColumnAfter}}
  @disabled={{not this.isInTable}}
/>
<Toolbar::Button
  @title={{t 'ember-rdfa-editor.table.add-row-below'}}
  @icon='table-row-end-add'
  {{on 'click' this.insertRowBelow}}
  @disabled={{not this.isInTable}}
/>
<Plugins::Table::Color
  @controller={{@controller}}
  @defaultColor="#ffffff"
/>
