{{! @glint-nocheck: not typesafe yet }}
<DummyContainer>
  <:header>
    <DebugTools @controller={{this.rdfaEditor}} />
  </:header>
  <:content>
    <EditorContainer
      @controller={{this.rdfaEditor}}
      @editorOptions={{hash showPaper="true" showToolbarBottom=null}}
    >
      <:toolbar as |container|>
        <SampleToolbarResponsive
          @controller={{container.controller}}
          @enableHierarchicalList={{true}}
        >
          <this.DevModeToggle
            @controller={{container.controller}}
            @enabled={{this.devMode}}
            @onToggle={{this.onDevModeToggle}}
          />
        </SampleToolbarResponsive>
      </:toolbar>
      <:default>
        <Editor
          @plugins={{this.plugins}}
          @schema={{this.schema}}
          @nodeViews={{this.nodeViews}}
          @rdfaEditorInit={{this.rdfaEditorInit}}
        />
      </:default>
      <:sidebarRight as |container|>
        <Sidebar as |Sb|>
          <Sb.Collapsible
            @title={{t "ember-rdfa-editor.insert"}}
            @expanded={{true}}
            as |Item|
          >
            <Item>
              <this.CreateRelationshipButton
                @controller={{container.controller}}
                @node={{this.activeNode}}
                @optionGeneratorConfig={{this.optionGeneratorConfigTaskified}}
                @devMode={{this.devMode}}
              />
            </Item>
          </Sb.Collapsible>
          <Plugins::Link::LinkEditor @controller={{container.controller}} />
          {{#if this.devMode}}
            <div class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny">
              <this.VisualiserCard
                @controller={{container.controller}}
                @config={{this.rdfa.visualizerConfig}}
              />
              <this.NodeControlsCard
                @node={{this.activeNode}}
                @controller={{container.controller}}
              />
              {{#if this.activeNode}}
                <this.RelationshipEditorCard
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                  @optionGeneratorConfig={{this.optionGeneratorConfigTaskified}}
                />
                <this.DocImportedResourceEditorCard
                  @controller={{container.controller}}
                  @optionGeneratorConfig={{this.optionGeneratorConfigTaskified}}
                />
                <this.ImportedResourceLinkerCard
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                />
                <this.ExternalTripleEditorCard
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                />
                <this.DebugInfo @node={{this.activeNode}} />
                <this.AttributeEditor
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                />
              {{/if}}
            </div>
          {{/if}}
        </Sidebar>
      </:sidebarRight>
    </EditorContainer>
  </:content>
</DummyContainer>