{{! @glint-nocheck: not typesafe yet }}
<DummyContainer>
  <:header>
    <DebugTools @controller={{this.rdfaEditor}} />
  </:header>
  <:content>
    <EditorContainer
      @editorOptions={{hash showPaper="true" showToolbarBottom=null}}
    >
      <:top>
        <SampleToolbarResponsive
          @controller={{this.rdfaEditor}}
          @enableHierarchicalList={{true}}
        >
          <this.DevModeToggle
            @controller={{this.rdfaEditor}}
            @enabled={{this.devMode}}
            @onToggle={{this.onDevModeToggle}}
          />
        </SampleToolbarResponsive>
      </:top>
      <:default>
        <Editor
          @plugins={{this.plugins}}
          @schema={{this.schema}}
          @nodeViews={{this.nodeViews}}
          @rdfaEditorInit={{this.rdfaEditorInit}}
        />
      </:default>
      <:aside>
        <Sidebar as |Sb|>
          <Sb.Collapsible
            @title={{t "ember-rdfa-editor.insert"}}
            @expanded={{true}}
            as |Item|
          >
            <Item>
              <this.CreateRelationshipButton
                @controller={{this.rdfaEditor}}
                @node={{this.activeNode}}
                @predicateOptionGenerator={{this.predicateOptionGenerator}}
                @subjectOptionGenerator={{this.subjectOptionGenerator}}
                @objectOptionGenerator={{this.objectOptionGenerator}}
                @devMode={{this.devMode}}
              />
            </Item>
          </Sb.Collapsible>
          <Plugins::Link::LinkEditor @controller={{this.rdfaEditor}} />
          {{#if this.devMode}}
            <div class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny">
              <this.VisualiserCard
                @controller={{this.rdfaEditor}}
                @config={{this.rdfa.visualizerConfig}}
              />
              <this.NodeControlsCard
                @node={{this.activeNode}}
                @controller={{this.rdfaEditor}}
              />
              {{#if this.activeNode}}
                <this.RelationshipEditorCard
                  @node={{this.activeNode}}
                  @controller={{this.rdfaEditor}}
                  @predicateOptionGenerator={{this.predicateOptionGenerator}}
                  @subjectOptionGenerator={{this.subjectOptionGenerator}}
                  @objectOptionGenerator={{this.objectOptionGenerator}}
                />
                <this.DocImportedResourceEditorCard
                  @controller={{this.rdfaEditor}}
                />
                <this.ImportedResourceLinkerCard
                  @node={{this.activeNode}}
                  @controller={{this.rdfaEditor}}
                />
                <this.ExternalTripleEditorCard
                  @node={{this.activeNode}}
                  @controller={{this.rdfaEditor}}
                />
                <this.DebugInfo @node={{this.activeNode}} />
                <this.AttributeEditor
                  @node={{this.activeNode}}
                  @controller={{this.rdfaEditor}}
                />
              {{/if}}
            </div>
          {{/if}}
        </Sidebar>
      </:aside>
    </EditorContainer>
  </:content>
</DummyContainer>