<div>
  <p>
    <button type="button" {{on "click" this.showExportPreview}}>Show Export
      Preview</button>
  </p>
  {{#if @controller}}
    <p>Sample data:
      <button
        type="button"
        {{on "click" (fn this.setEditorContent "")}}
      >Empty</button>
      |
      <button
        type="button"
        {{on "click" this.openContentDebugger}}
      >CustomHTML</button>
      |
      {{#each-in this.sampleData as |name data|}}
        <button
          type="button"
          {{on "click" (fn this.setEditorContent data)}}
        >{{name}}</button>
        |
      {{/each-in}}
    </p>
  {{else}}
    Waiting for editor init
  {{/if}}
</div>
{{#if this.htmlDebuggerOpen}}
  <div class="rdfa-debugger-panel-wrapper">
    <div class="rdfa-debugger-content">
      <h1>HTML representation</h1>
      <button
        type="button"
        {{on "click" (fn this.closeContentDebugger true)}}
      >Set HTML</button>
      <button
        type="button"
        {{on "click" (fn this.closeContentDebugger false)}}
      >Cancel</button>
      <hr />
      <div class="rdfa-debugger-textarea-wrapper">
        <div>Enter html here</div>
        <div
          {{this.CodeMirror
            content=this.formattedDebuggerContent
            extensions=this.codemirrorExtensions
            onUpdate=this.setDebuggerContent
          }}
        ></div>
      </div>
    </div>
  </div>
{{/if}}