<div {{this.setUpListeners}}>
  <button type="button" {{on "click" this.showStyledExportPreview}}>
    Show Styled Export
  </button>
  <button type="button" {{on "click" this.showRawExportPreview}}>
    Show Raw Export
  </button>
  {{#if @controller}}
    <span>Sample data:
      <button
        type="button"
        {{on "click" (fn this.setEditorContent "")}}
      >Empty</button>
      |
      <button
        type="button"
        {{on "click" this.openContentDebugger}}
      >CustomHTML</button>
      |
      {{#each-in this.sampleData as |name data|}}
        <button
          type="button"
          {{on "click" (fn this.setEditorContent data)}}
        >{{name}}</button>
        |
      {{/each-in}}
    </span>
  {{else}}
    Waiting for editor init
  {{/if}}
</div>
{{#if this.htmlDebuggerOpen}}
  <Plugins::HtmlEditor::Modal
    @content={{this.controller.htmlContent}}
    @onSave={{this.onSave}}
    @onCancel={{this.onCancel}}
  />
{{/if}}