<div
  class='say-container
    {{if @editorOptions.showPaper "say-container--paper"}}
    {{unless @editorOptions.hideSidebarLeft "say-container--sidebar-left"}}
    {{if
      (and (has-block "aside") (not @editorOptions.hideSidebarRight))
      "say-container--sidebar-right"
    }}
    {{if @editorOptions.showToolbarBottom "say-container--toolbar-bottom"}}'
>
  {{yield to='top'}}
  <div class='say-container__main'>
    {{#if @loading}}
      <AuLoader @hideMessage={{true}}>
        {{t 'ember-rdfa-editor.utils.loading'}}
      </AuLoader>
    {{/if}}

    <div
      class='say-editor
        {{if @loading "au-u-hidden-visually"}}'
    >
      {{yield}}

    </div>
    {{#if (and (has-block 'aside') (not @editorOptions.hideSidebarRight))}}
      <div class='say-container__aside'>
        {{yield to='aside'}}
      </div>
    {{/if}}
  </div>
</div>