<button
  type='button'
  class='say-toolbar__button {{if this.isSubscript " is-active"}}'
  {{on 'click' this.toggle}}
  title={{t 'ember-rdfa-editor.subscript'}}
>
  <AuIcon @icon='question-circle' @ariaHidden={{true}} @size='large'/> {{!-- TODO: Replace icon with 'subscript' icon when added to ember-appuniversum --}}
  <span class='au-u-hidden-visually'>
    {{t 'ember-rdfa-editor.subscript'}}
  </span>
</button>