<div class="say-toolbar">
  <div class="say-toolbar__styling-tools">
    <div class="say-toolbar__group">
      <button class="say-toolbar__button" onclick={{action "undo"}}>
        <i class="fa fa-rotate-left"></i>
      </button>
    </div>
    <div class="say-toolbar__group">
      <button class="say-toolbar__button" onclick={{action "toggleBold"}}>
        <i class="fa fa-bold"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "toggleItalic"}}>
        <i class="fa fa-italic"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "toggleUnderline"}}>
        <i class="fa fa-underline"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "toggleStrikethrough"}}>
        <i class="fa fa-strikethrough"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "insertUL"}}>
        <i class="fa fa-list-ul"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "insertOL"}}>
        <i class="fa fa-list-ol"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "insertUnindent"}}>
        <i class="fa fa-dedent"></i>
      </button>
      <button class="say-toolbar__button" onclick={{action "insertIndent"}}>
        <i class="fa fa-indent"></i>
      </button>
    </div>
  </div>
  <div class="say-toolbar__actions">
    {{yield}}
  </div>
</div>
