<div aria-live='polite'>
  {{#if this.allBusy}}
    <p class='say-toast'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 44 44'
        class='say-icon say-icon--left say-icon--medium say-icon--rotate'
        aria-hidden='true'
      >
        <path
          d='M35.4160417,8.58125 C31.9841667,5.1375 27.2460417,3 21.9972917,3 C11.4997917,3 3.02104167,11.5025 3.02104167,22 C3.02104167,32.4975 11.4997917,41 21.9972917,41 C30.8441667,41 38.2541667,34.94375 40.3560417,26.75 L35.4160417,26.75 C33.4566667,32.28375 28.2079167,36.25 21.9972917,36.25 C14.1241667,36.25 7.74729167,29.873125 7.74729167,22 C7.74729167,14.126875 14.1241667,7.75 21.9972917,7.75 C25.9279167,7.75 29.4547917,9.38875 32.0316667,11.965625 L24.3722917,19.625 L40.9972917,19.625 L40.9972917,3 L35.4160417,8.58125 Z'
        ></path>
      </svg>
      Nieuwe informatie verwerken...
      {{this.busyPluginsCount}}/{{this.pluginsCount}}
    </p>

  {{else}}
    {{#if this.anyPluginBusy}}
      <p class='say-toast'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 44 44'
          class='say-icon say-icon--left say-icon--medium say-icon--rotate'
          aria-hidden='true'
        >
          <path
            d='M35.4160417,8.58125 C31.9841667,5.1375 27.2460417,3 21.9972917,3 C11.4997917,3 3.02104167,11.5025 3.02104167,22 C3.02104167,32.4975 11.4997917,41 21.9972917,41 C30.8441667,41 38.2541667,34.94375 40.3560417,26.75 L35.4160417,26.75 C33.4566667,32.28375 28.2079167,36.25 21.9972917,36.25 C14.1241667,36.25 7.74729167,29.873125 7.74729167,22 C7.74729167,14.126875 14.1241667,7.75 21.9972917,7.75 C25.9279167,7.75 29.4547917,9.38875 32.0316667,11.965625 L24.3722917,19.625 L40.9972917,19.625 L40.9972917,3 L35.4160417,8.58125 Z'
          ></path>
        </svg>
        Nieuwe informatie verwerken...
        {{this.busyPluginsCount}}/{{this.pluginsCount}}
      </p>
    {{else if this.editorBusy}}
      <p class='say-toast'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 44 44'
          class='say-icon say-icon--left say-icon--medium say-icon--rotate'
          aria-hidden='true'
        >
          <path
            d='M35.4160417,8.58125 C31.9841667,5.1375 27.2460417,3 21.9972917,3 C11.4997917,3 3.02104167,11.5025 3.02104167,22 C3.02104167,32.4975 11.4997917,41 21.9972917,41 C30.8441667,41 38.2541667,34.94375 40.3560417,26.75 L35.4160417,26.75 C33.4566667,32.28375 28.2079167,36.25 21.9972917,36.25 C14.1241667,36.25 7.74729167,29.873125 7.74729167,22 C7.74729167,14.126875 14.1241667,7.75 21.9972917,7.75 C25.9279167,7.75 29.4547917,9.38875 32.0316667,11.965625 L24.3722917,19.625 L40.9972917,19.625 L40.9972917,3 L35.4160417,8.58125 Z'
          ></path>
        </svg>
        Aan het laden
      </p>
    {{else}}
      <p class='say-toast is-loaded'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 44 44'
          class='say-icon say-icon--left say-icon--medium'
          aria-hidden='true'
        >
          <path
            d='M22,2 C10.95,2 2,10.95 2,22 C2,33.04 10.95,42 22,42 C33.04,42 42,33.04 42,22 C42,10.95 33.04,2 22,2 Z M18,32 L8,22 L10.83,19.17 L18,26.34 L33.17,11.17 L36,14 L18,32 Z'
          ></path>
        </svg>
        Klaar met verwerken
      </p>
    {{/if}}
  {{/if}}
</div>