<div class="say-container">
  {{#if this.editor}}
    <Rdfa::EditorToolbar @contentEditable={{editor}}>
      <div class="say-switch">
        <input {{on "click" this.toggleRdfaBlocks}} id="toggle-1" class="say-switch__input" type="checkbox" name="toggle">
        <label class="say-switch__label" for="toggle-1">Toon annotaties</label>
      </div>
      {{#if editorOptions.insertTemplateButton}}
      <button class="say-button" onclick={{action "triggerHints"}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--left" aria-hidden="true">
          <polygon points="40.5 24.643 24.643 24.643 24.643 40.5 19.357 40.5 19.357 24.643 3.5 24.643 3.5 19.357 19.357 19.357 19.357 3.5 24.643 3.5 24.643 19.357 40.5 19.357"/>
        </svg>
        Voeg sjabloon in
      </button>
      {{/if}}
    </Rdfa::EditorToolbar>
  {{/if}}

  <div class="say-container__main">
    <div class="say-editor rdfa-annotations {{if this.showRdfaBlocks "show-rdfa-blocks"}}">
      <Ce::ContentEditable @class="say-editor__paper say-typography" @textInsert={{or this.eventProcessor.insertText this.warnNotSetup}} @textRemove={{or this.eventProcessor.removeText this.warnNotSetup}} @handleFullContentUpdate={{or this.eventProcessor.analyseAndDispatch this.warnNotSetup}} @selectionUpdate={{action (or this.eventProcessor.selectionChanged this.warnNotSetup) editor.currentSelection}} @rawEditorInit={{action "handleRawEditorInit"}} @elementUpdate={{action (or this.domUpdate this.noop) editor.rootNode}} @externalHandlers={{this.handlers}} @editable={{true}} @focused={{true}} @yieldHTML={{true}}>
        {{{this.value}}}
      </Ce::ContentEditable>
    </div>

    <div class="say-container__aside">
      <div class="say-editor-hints">
        <Rdfa::EditorSuggestedHints @suggestedHints={{this.suggestedHints}} />
        {{#if this.hasActiveHints}}
          <div class="annotation-suggestion__suggestion">
            <div class="modal-dialog modal-dialog--sectioned modal-dialog--small modal-dialog--static modal-dialog--hint">
              <ul>
                {{#each this.hintsRegistry.activeHints as |card|}}
                  <li>{{component card.card info=card.info}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
        {{yield}}
      </div>

      <Rdfa::LoadMonitor @editor={{this.eventProcessor.editor}} />
    </div>
  </div>
</div>
