<AuContent @skin="tiny">
  <AuToolbar as |Group|>
    <Group>
      <AuHeading @level="5" @skin="5">Relationships</AuHeading>
    </Group>
    <Group>
      <AuButton
        @icon="plus"
        @skin="naked"
        @disabled={{not this.canAddRelationship}}
        {{on "click" this.addRelationship}}
      >
        Add relationship
      </AuButton>
    </Group>
  </AuToolbar>
  {{#if this.canWrapWithResource}}
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @icon="plus"
          @skin="naked"
          {{on "click" this.wrapWithResource}}
        >
          Wrap With Resource
        </AuButton>
      </Group>
      {{#if this.canWrapWithLiteral}}
        <Group>
          <AuButton
            @icon="plus"
            @skin="naked"
            {{on "click" this.wrapWithLiteralNode}}
          >
            Wrap With Literal
          </AuButton>
        </Group>
      {{/if}}
    </AuToolbar>
  {{/if}}
  {{#if this.showOutgoingSection}}
    <div>
      <AuHeading
        @level="6"
        @skin="6"
        class="au-u-margin-bottom-small"
      >Outgoing</AuHeading>
      {{#if this.hasOutgoing}}
        <AuList @divider={{true}} as |Item|>
          {{#each this.properties as |prop index|}}
            {{#if (eq prop.type "external")}}
              <Item
                class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
              >
                <AuButton
                  @icon="external-link"
                  @skin="link"
                  {{on "click" (fn this.goToOutgoing prop)}}
                >{{prop.predicate}}</AuButton>
                <AuDropdown @icon="three-dots" role="menu" @alignment="left">
                  <AuButton
                    @skin="link"
                    @icon="bin"
                    role="menuitem"
                    class="au-c-button--alert"
                    {{on "click" (fn this.removeProperty index)}}
                  >
                    Remove outgoing
                  </AuButton>
                </AuDropdown>
              </Item>
            {{/if}}
          {{/each}}
        </AuList>
      {{else}}
        <p>This node doesn't have any outgoing relationships</p>
      {{/if}}
    </div>
  {{/if}}
  <div>
    <AuHeading
      @level="6"
      @skin="6"
      class="au-u-margin-bottom-small"
    >Backlinks</AuHeading>
    {{#if this.backlinks}}
      <AuList @divider={{true}} as |Item|>
        {{#each this.backlinks as |backlink index|}}
          <Item
            class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
          >
            <AuButton
              @icon="external-link"
              @skin="link"
              {{on "click" (fn this.goToBacklink backlink)}}
            >{{backlink.predicate}}</AuButton>
            <AuDropdown @icon="three-dots" role="menu" @alignment="left">
              <AuButton
                @skin="link"
                @icon="bin"
                role="menuitem"
                class="au-c-button--alert"
                {{on "click" (fn this.removeBacklink index)}}
              >
                Remove backlink
              </AuButton>
            </AuDropdown>
          </Item>
        {{/each}}
      </AuList>
    {{else}}
      <p>This node does not have any backlinks</p>
    {{/if}}
  </div>
</AuContent>

<this.Modal
  @rdfaIds={{this.allRdfaids}}
  @addRelationshipType={{this.addRelationshipType}}
  @setAddType={{this.setAddRelationshipType}}
  @onSave={{this.saveNewRelationship}}
/>