<AuContent @skin="tiny">
  <AuToolbar as |Group|>
    <Group>
      <AuHeading @level="5" @skin="5">Relationships</AuHeading>
    </Group>
    <Group>
      <AuButton @icon="plus" @skin="naked">
        Add relationship
      </AuButton>
    </Group>
  </AuToolbar>
  {{#if this.showOutgoingSection}}
    <div>
      <AuHeading
        @level="6"
        @skin="6"
        class="au-u-margin-bottom-small"
      >Outgoing</AuHeading>
      {{#if this.outgoing}}
        <AuList @divider={{true}} as |Item|>
          {{#each this.outgoing as |prop|}}
            <Item
              class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
            >
              <AuButton
                @icon="external-link"
                @skin="link"
                {{on "click" (fn this.goToNodeWithId prop.nodeId)}}
              >{{prop.predicate}}</AuButton>
              <AuButton @icon="three-dots" @skin="naked" />
            </Item>
          {{/each}}
        </AuList>
      {{else}}
        <p>This node doesn't have any outgoing relationships</p>
      {{/if}}
    </div>
  {{/if}}
  <div>
    <AuHeading
      @level="6"
      @skin="6"
      class="au-u-margin-bottom-small"
    >Backlinks</AuHeading>
    {{#if this.backlinks}}
      <AuList @divider={{true}} as |Item|>
        {{#each this.backlinks as |backlink|}}
          <Item
            class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
          >
            <AuButton
              @icon="external-link"
              @skin="link"
              {{on "click" (fn this.goToNodeWithId backlink.subjectId)}}
            >{{backlink.predicate}}</AuButton>
            <AuButton @icon="three-dots" @skin="naked" />
          </Item>
        {{/each}}
      </AuList>
    {{else}}
      <p>This node does not have any backlinks</p>
    {{/if}}
  </div>
</AuContent>