<AuContent @skin="tiny">
  <AuToolbar as |Group|>
    <Group>
      <AuHeading @level="5" @skin="5">Relationships</AuHeading>
    </Group>
    <Group>
      <AuButton
        @icon="plus"
        @skin="naked"
        @disabled={{not this.canAddRelationship}}
        {{on "click" this.addRelationship}}
      >
        Add relationship
      </AuButton>
    </Group>
  </AuToolbar>
  {{#if this.showOutgoingSection}}
    <div>
      <AuHeading
        @level="6"
        @skin="6"
        class="au-u-margin-bottom-small"
      >Outgoing</AuHeading>
      {{#if this.hasOutgoing}}
        <AuList @divider={{true}} as |Item|>
          {{#each this.properties as |prop index|}}
            {{#if (eq prop.type "external")}}
              <Item
                class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
              >
                <AuButton
                  @icon="external-link"
                  @skin="link"
                  {{on "click" (fn this.goToOutgoing prop)}}
                >{{prop.predicate}}</AuButton>
                <AuDropdown @icon="three-dots" role="menu" @alignment="left">
                  <AuButton
                    @skin="link"
                    @icon="bin"
                    role="menuitem"
                    class="au-c-button--alert"
                    {{on "click" (fn this.removeProperty index)}}
                  >
                    Remove outgoing
                  </AuButton>
                </AuDropdown>
              </Item>
            {{/if}}
          {{/each}}
        </AuList>
      {{else}}
        <p>This node doesn't have any outgoing relationships</p>
      {{/if}}
    </div>
  {{/if}}
  <div>
    <AuHeading
      @level="6"
      @skin="6"
      class="au-u-margin-bottom-small"
    >Backlinks</AuHeading>
    {{#if this.backlinks}}
      <AuList @divider={{true}} as |Item|>
        {{#each this.backlinks as |backlink index|}}
          <Item
            class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
          >
            <AuButton
              @icon="external-link"
              @skin="link"
              {{on "click" (fn this.goToBacklink backlink)}}
            >{{backlink.predicate}}</AuButton>
            <AuDropdown @icon="three-dots" role="menu" @alignment="left">
              <AuButton
                @skin="link"
                @icon="bin"
                role="menuitem"
                class="au-c-button--alert"
                {{on "click" (fn this.removeBacklink index)}}
              >
                Remove backlink
              </AuButton>
            </AuDropdown>
          </Item>
        {{/each}}
      </AuList>
    {{else}}
      <p>This node does not have any backlinks</p>
    {{/if}}
  </div>
  {{#if this.isResource}}
    <div>
      <AuHeading @level="6" @skin="6" class="au-u-margin-bottom-small">
        Content Predicate
      </AuHeading>
      <this.ContentPredicateList
        @properties={{this.properties}}
        @addProperty={{this.addProperty}}
        @removeProperty={{this.removeProperty}}
      />
    </div>
  {{/if}}
  {{#if this.statusMessage}}
    <div>
      <AuAlert
        @skin={{this.statusMessage.type}}
        @closable={{true}}
        @onClose={{this.closeStatusMessage}}
      >
        {{this.statusMessage.message}}
      </AuAlert>
    </div>
  {{/if}}
</AuContent>

{{#if this.modalOpen}}
  <this.Modal
    @controller={{@controller}}
    @onSave={{this.saveNewRelationship}}
    @onCancel={{this.cancel}}
  />
{{/if}}