{{#let (unique-id) as |formId|}}
  <AuModal
    @modalOpen={{@addRelationshipType}}
    @closable={{true}}
    @closeModal={{this.cancel}}
  >
    <:title>Add Relationship</:title>
    <:body>
      <form class="au-c-form" id={{formId}} {{on "submit" this.save}}>
        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              Predicate
            </AuLabel>
            <AuInput
              id={{id}}
              required={{true}}
              @value={{this.newPredicate}}
              @width="block"
              {{on "input" this.updatePredicate}}
            />
          {{/let}}
        </AuFormRow>
        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              Add Type
            </AuLabel>
            <AuRadioGroup
              id={{id}}
              required={{true}}
              name="types"
              @value={{@addRelationshipType}}
              @width="block"
              {{on "input" this.setAddType}}
              @alignment="inline"
            >
              {{#each this.types as |addType|}}
                <AuRadio name="types" value={{addType}}>{{addType}}</AuRadio>
              {{/each}}
            </AuRadioGroup>
            {{#if this.errorMessage}}
              <AuHelpText @error={{true}}>{{t 'ember-rdfa-editor.image.url-error'}}</AuHelpText>
            {{/if}}
          {{/let}}
        </AuFormRow>
        {{#if this.isAddExisting}}
          <AuFormRow @alignment="default">
            {{#let (unique-id) as |id|}}
              <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
                Object
              </AuLabel>
              <PowerSelect
                id={{id}}
                name="ids"
                {{!-- For some reason need to manually set width --}}
                class="au-u-1-2"
                @searchEnabled={{false}}
                @options={{@rdfaIds}}
                @selected={{this.objectRdfaId}}
                @onChange={{this.updateObject}} as |obj|
              >
                {{obj}}
              </PowerSelect>
              {{#if this.errorMessage}}
                <AuHelpText @error={{true}}>{{t 'ember-rdfa-editor.image.url-error'}}</AuHelpText>
              {{/if}}
            {{/let}}
          </AuFormRow>
        {{/if}}
        {{#if this.isAddResource}}
          <AuFormRow @alignment="default">
            {{#let (unique-id) as |id|}}
              <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
                URI base
              </AuLabel>
              <AuInput
                id={{id}}
                required={{true}}
                @value={{this.resourceUriBase}}
                @width="block"
                placeholder="http://example.com/resource/"
                {{on "input" this.updateUriBase}}
              />
            {{/let}}
          </AuFormRow>
        {{/if}}
      </form>
    </:body>
    <:footer>
      <AuButtonGroup>
        <AuButton
          form={{formId}}
          type="submit"
          @disabled={{not this.canSave}}
        >Save</AuButton>
        <AuButton @skin="secondary" {{on "click" this.cancel}}>Cancel</AuButton>
      </AuButtonGroup>
    </:footer>
  </AuModal>
{{/let}}