{{! @glint-nocheck: not typesafe yet }}
<span data-inline-rdfa class='say-inline-rdfa'>
  <EmberNode::EmbeddedEditor
    @controller={{@controller}}
    @node={{@node}}
    @view={{@view}}
    @getPos={{@getPos}}
    @selected={{@selected}}
    @initEditor={{this.initEditor}}
    @plugins={{this.plugins}}
    @decorations={{@decorations}}
    @contentDecorations={{@contentDecorations}}
    {{leave-on-enter-key this.controller @getPos}}
  />
</span>