<Toolbar::Button
  @disabled={{this.disabled}}
  @title={{t 'ember-rdfa-editor.image.insert'}}
  @icon='website'
  {{on 'click' this.showModal}}
/>
<AuModal
  @modalOpen={{this.modalOpen}}
  @closeModal={{this.onCancel}}
  class='say-image-insert-modal'
>
  <:title>{{t 'ember-rdfa-editor.image.insert'}}</:title>
  <:body>
    <form class='au-o-flow'>
      <AuFormRow>
        {{#let (unique-id) as |id|}}
          <AuLabel @required='true' for={{id}}>
            {{t 'ember-rdfa-editor.image.url-label'}}
          </AuLabel>
          <AuInput id={{id}} @width='block' @value={{this.url}} @error={{this.showError}} {{on "focus" this.hideError}} />
          {{#if this.showError}}
            <AuHelpText @error={{true}}>{{t 'ember-rdfa-editor.image.url-error'}}</AuHelpText>
          {{/if}}
        {{/let}}
      </AuFormRow>
      <AuFormRow>
        {{#let (unique-id) as |id|}}
          <AuLabel for={{id}}>
            {{t 'ember-rdfa-editor.image.alt-label'}}
          </AuLabel>
          <AuInput id={{id}} @width='block' @value={{this.altText}} />
        {{/let}}
      </AuFormRow>
    </form>
    {{#if this.isValidUrl}}
      <img
        src={{this.url}}
        alt={{this.altText}}
        class='say-image-insert-preview'
      />
    {{/if}}
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        @skin='primary'
        @disabled={{not this.url}}
        {{on 'click' this.onInsert}}
      >
        {{t 'ember-rdfa-editor.image.insert'}}
      </AuButton>
      <AuButton @skin='secondary' {{on 'click' this.onCancel}}>{{t 'ember-rdfa-editor.utils.back' }}</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>