{{#let (unique-id) as |formId|}}
  <AuModal
    @modalOpen={{@modalOpen}}
    @closable={{true}}
    @closeModal={{@closeModal}}
  >
    <:title>Wrap selection</:title>
    <:body>
      <form class="au-c-form" id={{formId}} {{on "submit" this.save}}>
        <AuFormRow @alignment="default">
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}} @required={{true}} @requiredLabel="Required">
              URI base
            </AuLabel>
            <AuInput
              id={{id}}
              required={{true}}
              @value={{this.resourceUriBase}}
              @width="block"
              placeholder="http://example.com/resource/"
              {{on "input" this.updateUriBase}}
            />
          {{/let}}
        </AuFormRow>
      </form>
    </:body>
    <:footer>
      <AuButtonGroup>
        <AuButton
          form={{formId}}
          type="submit"
          @disabled={{not this.canSave}}
        >
          Save
        </AuButton>
        <AuButton @skin="secondary" {{on "click" @closeModal}}>Cancel</AuButton>
      </AuButtonGroup>
    </:footer>
  </AuModal>
{{/let}}