{{! template-lint-disable no-invalid-interactive }}
{{! template-lint-disable no-down-event-binding }}
<div
  {{on 'beforeinput' this.beforeInput}}
  {{on 'input' this.afterInput}}
  {{on 'paste' this.paste}}
  {{on 'cut' this.cut}}
  {{on 'copy' this.copy}}
  {{on 'dragstart' this.dragstart}}
  {{on 'keydown' this.keydown}}
  {{did-insert this.insertedEditorElement}}
  {{will-destroy this.teardown}}
  {{did-update this.initialize @plugins}}
  contenteditable='true'
  class={{@class}}
  ...attributes
>
</div>
