{{!-- template-lint-disable no-invalid-interactive --}}
<div
  {{on "paste" this.paste}}
  {{on "cut" this.cut}}
  {{on "copy" this.copy}}
  {{on "keydown" this.handleKeyDown}}
  {{on "keyup" this.handleKeyUp}}
  {{on "compositionend" this.compositionEnd}}
  {{on "mouseup" this.handleMouseUp}}
  {{on "mousedown" this.handleMouseDown}}
  {{on "beforeinput" this.beforeInput}}
  {{on "input" this.handleInput}}
  {{did-insert this.insertedEditorElement}}
  contenteditable="true" class={{@class}} ...attributes>
</div>
