<div
  {{on "beforeinput" this.handleInput}}
  {{on "input" this.recoverFromUnhandledInput}}
  {{on "cut" this.cut}}
  {{on "paste" this.paste}}
  {{on "copy" this.copy}}
  {{did-insert this.insertedEditorElement}}
  contenteditable="true" class={{@class}} ...attributes>
</div>
