{{! @glint-nocheck: not typesafe yet }}
<div class='say-dropdown' ...attributes>
  <this.Velcro
    @placement='bottom'
    @offsetOptions={{hash mainAxis=6}}
    @strategy='absolute'
    as |velcro|
  >
    <button
      {{this.reference}}
      class='say-dropdown__button {{if this.dropdownOpen "is-active" ""}}'
      aria-haspopup='true'
      aria-expanded='{{if this.dropdownOpen "true" "false"}}'
      type='button'
      {{on 'click' this.toggleDropdown}}
      disabled={{@disabled}}
      {{velcro.hook}}
    >
      <span class={{if @hideLabel 'au-u-hidden-visually' ''}}>{{@label}}</span>
      {{#if @icon}}
        <AuIcon @icon={{@icon}} @ariaHidden={{true}} @size='large' />
      {{/if}}
    </button>
    {{#if this.dropdownOpen}}
      <div
        {{focus-trap
          shouldSelfFocus=true
          focusTrapOptions=(hash
            clickOutsideDeactivates=this.clickOutsideDeactivates
          )
        }}
        class='say-dropdown__menu is-visible'
        role='menu'
        tabindex='-1'
        {{velcro.loop}}
      >
        {{yield
          (hash
            Item=(component
              'toolbar/dropdown-item' onActivate=this.closeDropdown
            )
          )
        }}
      </div>
    {{/if}}
  </this.Velcro>
</div>