{{! @glint-nocheck: not typesafe yet }}
<AuPanel class="au-u-margin-bottom-tiny" as |Section|>
  <Section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">RDFa</AuHeading>
      </Group>
      {{#if @node}}
        <Group>
          <AuPill>{{this.type}}</AuPill>
          <AuButton
            @skin="naked"
            @icon={{if this.collapsed this.ChevronDownIcon this.ChevronUpIcon}}
            {{on "click" this.toggleSection}}
          />
        </Group>
      {{/if}}
    </AuToolbar>
  </Section>
  {{#if @node}}
    {{#unless this.collapsed}}
      {{#if this.showPropertiesSection}}
        <Section>
          <this.PropertyEditor @node={{@node}} @controller={{@controller}} />
        </Section>
      {{/if}}
      <Section>
        <this.RelationshipEditor @node={{@node}} @controller={{@controller}} />
      </Section>
      <Section>
        <this.WrappingUtils @node={{@node}} @controller={{@controller}} />
      </Section>
      <Section>
        <this.RemoveNode @node={{@node}} @controller={{@controller}} />
      </Section>
    {{/unless}}
  {{else}}
    <Section>
      <this.WrappingUtils @node={{@node}} @controller={{@controller}} />
    </Section>
  {{/if}}
</AuPanel>