<div class='say-toolbar'>
  <div class='say-toolbar__styling-tools'>
    <div class='say-toolbar__group'>
      <button
        type='button'
        class='say-toolbar__button'
        {{on 'click' this.undo}}
        data-test-button-id='undo-button'
        title={{t 'ember-rdfa-editor.undo'}}
      >
        <AuIcon @icon='undo' @ariaHidden={{true}} @size='large'/>
        <span class='au-u-hidden-visually'>
          Undo
        </span>
      </button>
    </div>
    <div class='say-toolbar__group'>
      {{#if @showTextStyleButtons}}

        <Rdfa::ToolbarIcon
          @active={{this.isBold}}
          @title={{t 'ember-rdfa-editor.bold'}}
          @icon="bold"
          {{on 'click' this.toggleBold}}/>
        <Rdfa::ToolbarIcon
          @active={{this.isItalic}}
          @title={{t 'ember-rdfa-editor.italic'}}
          @icon="italic"
          {{on 'click' this.toggleItalic}}/>
        <Rdfa::ToolbarIcon
          @active={{this.isUnderline}}
          @title={{t 'ember-rdfa-editor.underline'}}
          @icon="underlined"
          {{on 'click' this.toggleUnderline}}/>
        <Rdfa::ToolbarIcon
          @active={{this.isStrikethrough}}
          @title={{t 'ember-rdfa-editor.strikethrough'}}
          @icon="strikethrough"
          {{on 'click' this.toggleStrikethrough}}/>
      {{/if}}
    </div>
    {{#if
      (and
        @showListButtons (or this.canInsertList this.canUnindent this.canIndent)
      )
    }}
      <div class='say-toolbar__group'>
        {{#if (and @showListButtons this.canInsertList)}}

          <Rdfa::ToolbarIcon
            @active={{this.isInList}}
            @title={{t 'ember-rdfa-editor.unordered-list'}}
            @icon="unordered-list"
            {{on 'click' this.toggleUnorderedList}}/>
        {{!--
  <button type="button" class="say-toolbar__button {{if this.isInList "is-active"}}"  {{on "click" this.toggleOrderedList}} data-test-button-id="ordered-list" title={{t 'ember-rdfa-editor.ordered-list'}}>
     <AuIcon @icon="ordered-list" @ariaHidden={{true}} @size="large" />
    <span class="au-u-hidden-visually">
      Ordered list
    </span>
  </button>
--}}
        {{/if}}
        {{#if @showIndentButtons}}
          {{#if this.canUnindent}}

            <Rdfa::ToolbarIcon
              @title={{t 'ember-rdfa-editor.unindent-list'}}
              @icon="reverse-indent"
              {{on 'click' this.insertUnindent}}/>
          {{/if}}
          {{#if this.canIndent}}
            <Rdfa::ToolbarIcon
              @title={{t 'ember-rdfa-editor.indent-list'}}
              @icon="indent"
              {{on 'click' this.insertIndent}}/>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    <div class='say-toolbar__group'>
      <Rdfa::ToolbarDropdown
        @dropdownButtonLabel='Table'
        @controller={{@controller}}
        as |Menu|
      >
        {{#if this.isInTable}}
          <Menu.Item
            @menuAction={{this.insertRowBelow}}
            title={{t 'ember-rdfa-editor.add-row-below'}}
          >
            <AuIcon @icon='table-row-end-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-row-below'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertRowAbove}}
            title={{t 'ember-rdfa-editor.add-row-above'}}
          >
            <AuIcon @icon='table-row-start-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-row-above'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertColumnAfter}}
            title={{t 'ember-rdfa-editor.add-column-after'}}
          >
            <AuIcon @icon='table-column-end-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-column-after'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertColumnBefore}}
            title={{t 'ember-rdfa-editor.add-column-before'}}
          >
            <AuIcon @icon='table-column-start-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-column-before'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTableRow}}
            title={{t 'ember-rdfa-editor.delete-row'}}
          >
            <AuIcon @icon='table-row-remove' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-row'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTableColumn}}
            title={{t 'ember-rdfa-editor.delete-column'}}
          >
            <AuIcon @icon='table-column-remove' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-column'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTable}}
            title={{t 'ember-rdfa-editor.delete-table'}}
          >
            <AuIcon @icon='bin' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-table'}}
          </Menu.Item>
        {{else}}
          <div role='group'>
            <div role='menuitem' class='say-dropdown__menu-with-inputs'>
              {{t 'ember-rdfa-editor.columns'}}
              <AuLabel
                for='editor-table-columns'
                class='au-u-hidden-visually'
              >{{t 'ember-rdfa-editor.columns'}}</AuLabel>
              <Input
                id='editor-table-columns'
                class='say-input say-input--small'
                size='1'
                @value={{this.tableAddColumns}}
              />
            </div>
          </div>
          <div role='group'>
            <div role='menuitem' class='say-dropdown__menu-with-inputs'>
              {{t 'ember-rdfa-editor.rows'}}
              <AuLabel for='editor-table-rows' class='au-u-hidden-visually'>{{t
                'ember-rdfa-editor.rows'
              }}</AuLabel>
              <Input
                id='editor-table-rows'
                class='say-input say-input--small'
                size='1'
                @value={{this.tableAddRows}}
              />
            </div>
          </div>
          <Menu.Item
            @menuAction={{fn
            this.insertTable
            this.tableAddRows
            this.tableAddColumns
          }}
            title={{t 'ember-rdfa-editor.insert-table'}}
          >
            <AuIcon @icon='table-insert' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.insert-table'}}
          </Menu.Item>
        {{/if}}
      </Rdfa::ToolbarDropdown>
      {{#if this.isInTable}}
        <button
          type='button'
          class='say-toolbar__button'
          data-test-button-id='insert-table-column'
          {{on 'click' this.insertColumnAfter}}
          title={{t 'ember-rdfa-editor.add-column-after'}}
        >
          <AuIcon
            @icon='table-column-end-add'
            @ariaHidden={{true}}
            @size='large'
          />
          <span class='au-u-hidden-visually'>
            {{t 'ember-rdfa-editor.add-column-after'}}
          </span>
        </button>
        <button
          type='button'
          class='say-toolbar__button'
          data-test-button-id='insert-table-row'
          {{on 'click' this.insertRowBelow}}
          title={{t 'ember-rdfa-editor.add-row-below'}}
        >
          <AuIcon
            @icon='table-row-end-add'
            @ariaHidden={{true}}
            @size='large'
          />
          <span class='au-u-hidden-visually'>
            {{t 'ember-rdfa-editor.add-row-below'}}
          </span>
        </button>
      {{/if}}
    </div>
    <div class='say-toolbar__group'>
      {{yield to='middle'}}
    </div>
  </div>
  <div class='say-toolbar__actions'>
    {{yield to='right'}}
  </div>
</div>