<div class='say-toolbar' {{did-insert this.didInsert}}>
  <div class='say-toolbar__styling-tools'>
    <div class='say-toolbar__group'>
      <button
        type='button'
        class='say-toolbar__button'
        {{on 'click' this.undo}}
        data-test-button-id='undo-button'
        title={{t 'ember-rdfa-editor.undo'}}
      >
        <AuIcon @icon='undo' @ariaHidden={{true}} @size='large'/>
        <span class='au-u-hidden-visually'>
          Undo
        </span>
      </button>
    </div>
    <div class='say-toolbar__group'>
      {{#if @showTextStyleButtons}}
        <button
          type='button'
          class='say-toolbar__button {{if this.isBold "is-active"}}'
          {{on 'click' this.toggleBold}}
          title={{t 'ember-rdfa-editor.bold'}}
        >
          <AuIcon @icon='bold' @ariaHidden={{true}} @size='large'/>
          <span class='au-u-hidden-visually'>
            Bold
          </span>
        </button>
        <button
          type='button'
          class='say-toolbar__button {{if this.isItalic " is-active"}}'
          {{on 'click' this.toggleItalic}}
          title={{t 'ember-rdfa-editor.italic'}}
        >
          <AuIcon @icon='italic' @ariaHidden={{true}} @size='large'/>
          <span class='au-u-hidden-visually'>
            Italic
          </span>
        </button>
        <button
          type='button'
          class='say-toolbar__button {{if this.isUnderline "is-active"}}'
          {{on 'click' this.toggleUnderline}}
          title={{t 'ember-rdfa-editor.underline'}}
        >
          <AuIcon @icon='underlined' @ariaHidden={{true}} @size='large'/>
          <span class='au-u-hidden-visually'>
            Underline
          </span>
        </button>
        <button
          type='button'
          class='say-toolbar__button {{if this.isStrikethrough "is-active"}}'
          {{on 'click' this.toggleStrikethrough}}
          title={{t 'ember-rdfa-editor.strikethrough'}}
        >
          <AuIcon @icon='strikethrough' @ariaHidden={{true}} @size='large'/>
          <span class='au-u-hidden-visually'>
            Strikethrough
          </span>
        </button>
      {{/if}}
    </div>
    {{#if
      (and
        @showListButtons (or this.canInsertList this.canUnindent this.canIndent)
      )
    }}
      <div class='say-toolbar__group'>
        {{#if (and @showListButtons this.canInsertList)}}
          <button
            type='button'
            class='say-toolbar__button {{if this.isInList "is-active"}}'
            {{on 'click' this.toggleUnorderedList}}
            data-test-button-id='unordered-list'
            title={{t 'ember-rdfa-editor.unordered-list'}}
          >
            <AuIcon @icon='unordered-list' @ariaHidden={{true}} @size='large'/>
            <span class='au-u-hidden-visually'>
              Unordered list
            </span>
          </button>
        {{!--
    <button type="button" class="say-toolbar__button {{if this.isInList "is-active"}}"  {{on "click" this.toggleOrderedList}} data-test-button-id="ordered-list" title={{t 'ember-rdfa-editor.ordered-list'}}>
       <AuIcon @icon="ordered-list" @ariaHidden={{true}} @size="large" />
      <span class="au-u-hidden-visually">
        Ordered list
      </span>
    </button>
--}}
        {{/if}}
        {{#if @showIndentButtons}}
          {{#if this.canUnindent}}
            <button
              type='button'
              class='say-toolbar__button'
              {{on 'click' this.insertUnindent}}
              data-test-button-id='insert-unindent'
              title={{t 'ember-rdfa-editor.unindent-list'}}
            >
              <AuIcon
                @icon='reverse-indent'
                @ariaHidden={{true}}
                @size='large'
              />
              <span class='au-u-hidden-visually'>
                Reverse indent
              </span>
            </button>
          {{/if}}
          {{#if this.canIndent}}
            <button
              type='button'
              class='say-toolbar__button'
              data-test-button-id='insert-indent'
              {{on 'click' this.insertIndent}}
              title={{t 'ember-rdfa-editor.indent-list'}}
            >
              <AuIcon @icon='indent' @ariaHidden={{true}} @size='large'/>
              <span class='au-u-hidden-visually'>
                Indent
              </span>
            </button>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    <div class='say-toolbar__group'>
      <Rdfa::ToolbarDropdown
        @dropdownButtonLabel='Table'
        @controller={{@controller}}
        as |Menu|
      >
        {{#if this.isInTable}}
          <Menu.Item
            @menuAction={{this.insertRowBelow}}
            title={{t 'ember-rdfa-editor.add-row-below'}}
          >
            <AuIcon @icon='table-row-end-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-row-below'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertRowAbove}}
            title={{t 'ember-rdfa-editor.add-row-above'}}
          >
            <AuIcon @icon='table-row-start-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-row-above'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertColumnAfter}}
            title={{t 'ember-rdfa-editor.add-column-after'}}
          >
            <AuIcon @icon='table-column-end-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-column-after'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.insertColumnBefore}}
            title={{t 'ember-rdfa-editor.add-column-before'}}
          >
            <AuIcon @icon='table-column-start-add' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.add-column-before'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTableRow}}
            title={{t 'ember-rdfa-editor.delete-row'}}
          >
            <AuIcon @icon='table-row-remove' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-row'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTableColumn}}
            title={{t 'ember-rdfa-editor.delete-column'}}
          >
            <AuIcon @icon='table-column-remove' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-column'}}
          </Menu.Item>
          <Menu.Item
            @menuAction={{this.removeTable}}
            title={{t 'ember-rdfa-editor.delete-table'}}
          >
            <AuIcon @icon='bin' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.delete-table'}}
          </Menu.Item>
        {{else}}
          <div role="group">
            <div role='menuitem' class='say-dropdown__menu-with-inputs'>
              {{t 'ember-rdfa-editor.columns'}}
              <AuLabel for='editor-table-columns' class='au-u-hidden-visually'>{{t
                'ember-rdfa-editor.columns'
              }}</AuLabel>
              <Input
                id='editor-table-columns'
                class='say-input say-input--small'
                size='1'
                @value={{this.tableAddColumns}}
              />
            </div>
          </div>
          <div role="group">
            <div role='menuitem' class='say-dropdown__menu-with-inputs'>
              {{t 'ember-rdfa-editor.rows'}}
              <AuLabel for='editor-table-rows' class='au-u-hidden-visually'>{{t
                'ember-rdfa-editor.rows'
              }}</AuLabel>
              <Input
                id='editor-table-rows'
                class='say-input say-input--small'
                size='1'
                @value={{this.tableAddRows}}
              />
            </div>
          </div>
          <Menu.Item
            @menuAction={{fn
            this.insertTable
            this.tableAddRows
            this.tableAddColumns
          }}
            title={{t 'ember-rdfa-editor.insert-table'}}
          >
            <AuIcon @icon='table-insert' @ariaHidden={{true}} />
            {{t 'ember-rdfa-editor.insert-table'}}
          </Menu.Item>
        {{/if}}
      </Rdfa::ToolbarDropdown>
      {{#if this.isInTable}}
        <button
          type='button'
          class='say-toolbar__button'
          data-test-button-id='insert-table-column'
          {{on 'click' this.insertColumnAfter}}
          title={{t 'ember-rdfa-editor.add-column-after'}}
        >
          <AuIcon
            @icon='table-column-end-add'
            @ariaHidden={{true}}
            @size='large'
          />
          <span class='au-u-hidden-visually'>
            {{t 'ember-rdfa-editor.add-column-after'}}
          </span>
        </button>
        <button
          type='button'
          class='say-toolbar__button'
          data-test-button-id='insert-table-row'
          {{on 'click' this.insertRowBelow}}
          title={{t 'ember-rdfa-editor.add-row-below'}}
        >
          <AuIcon
            @icon='table-row-end-add'
            @ariaHidden={{true}}
            @size='large'
          />
          <span class='au-u-hidden-visually'>
            {{t 'ember-rdfa-editor.add-row-below'}}
          </span>
        </button>
      {{/if}}
    </div>
    <div class='say-toolbar__group'>
      {{yield to='middle'}}
    </div>
  </div>
  <div class='say-toolbar__actions'>
    {{yield to='right'}}
  </div>
</div>
