<div class='say-toolbar'>
  <div class='say-toolbar__styling-tools'>
    <div class='say-toolbar__group'>
      <Rdfa::ToolbarIcon
        @title={{t 'ember-rdfa-editor.undo'}}
        @icon='undo'
        {{on 'click' this.undo}}
      />
      <Rdfa::ToolbarIcon
        @title={{t 'ember-rdfa-editor.redo'}}
        @icon='redo'
        {{on 'click' this.redo}}
      />
    </div>
    <div class='say-toolbar__group'>
      {{#if @showTextStyleButtons}}
        <Rdfa::ToolbarIcon
          @active={{this.isBold}}
          @title={{t 'ember-rdfa-editor.bold'}}
          @icon='bold'
          {{on 'click' this.toggleBold}}
        />
        <Rdfa::ToolbarIcon
          @active={{this.isItalic}}
          @title={{t 'ember-rdfa-editor.italic'}}
          @icon='italic'
          {{on 'click' this.toggleItalic}}
        />
        <Rdfa::ToolbarIcon
          @active={{this.isUnderline}}
          @title={{t 'ember-rdfa-editor.underline'}}
          @icon='underlined'
          {{on 'click' this.toggleUnderline}}
        />
        <Rdfa::ToolbarIcon
          @active={{this.isStrikethrough}}
          @title={{t 'ember-rdfa-editor.strikethrough'}}
          @icon='strikethrough'
          {{on 'click' this.toggleStrikethrough}}
        />
      {{/if}}
    </div>
    {{#if @showListButtons }}
      <div class='say-toolbar__group'>

        {{#if this.canToggleUL}}
          <Rdfa::ToolbarIcon
            @active={{this.isInUL}}
            @title={{t 'ember-rdfa-editor.unordered-list'}}
            @icon='unordered-list'
            {{on 'click' this.toggleUnorderedList}}
          />
        {{/if}}
        {{#if (and @showOrderedListButton this.canToggleOL)}}
          <Rdfa::ToolbarIcon
            @active={{this.isInOL}}
            @title={{t 'ember-rdfa-editor.ordered-list'}}
            @icon="ordered-list"
            {{on "click" this.toggleOrderedList}}
          />
        {{/if}}
        {{#if @showIndentButtons}}
          {{#if this.canUnindent}}

            <Rdfa::ToolbarIcon
              @title={{t 'ember-rdfa-editor.unindent-list'}}
              @icon='reverse-indent'
              {{on 'click' this.insertUnindent}}
            />
          {{/if}}
          {{#if this.canIndent}}
            <Rdfa::ToolbarIcon
              @title={{t 'ember-rdfa-editor.indent-list'}}
              @icon='indent'
              {{on 'click' this.insertIndent}}
            />
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    {{yield to='middle'}}
  </div>
  <div class='say-toolbar__actions'>
    {{yield to='right'}}
  </div>
</div>