<AuAccordion
  @skin="border"
  @reverse={{true}}
  @iconOpen="nav-down"
  @iconClosed="nav-right"
  @buttonLabel={{@title}}
  @loading={{this.loading}}
>
  <div class={{if this.expanded "" "au-u-hidden"}}>
    {{yield}}
  </div>
</AuAccordion>