<AuButton @skin='link' {{on "click" this.toggle}}>
  {{#if this.expanded}}  
    -
  {{else}}
    <AuIcon @icon="add"/>
  {{/if}}
  {{@title}}
</AuButton>

<div class={{if this.expanded "" "hidden-component"}}>
  {{yield}}
</div>