<div>
  Rdfa Annotations
  {{#each this.rdfaBlocks as |block|}}
    {{#if block.lastContext}}
      {{#if (and block.lastContext.typeOf block.topPosition)}}
        <p style="position: absolute; top: {{block.topPosition}}px;">{{block.lastContext.typeOf}}</p>
      {{else if (and block.lastContext.property block.topPosition)}}
        <p style="position: absolute; top: {{block.topPosition}}px;">{{block.lastContext.property}}</p>
      {{/if}}
    {{/if}}
  {{/each}}
</div>