<div
  class='say-container
    {{if @editorOptions.showRdfaHover "say-container--sidebar-left"}}
    {{if @editorOptions.showPaper "say-container--paper"}}
    {{if @editorOptions.showSidebar "say-container--sidebar-right"}}
    {{if @editorOptions.showToolbarBottom "say-container--toolbar-bottom"}}'
  {{did-update (fn this.updateConfig 'pasteBehaviour' this.pasteBehaviour) @pasteBehaviour}}
>
  {{#if this.toolbarController}}
    <Rdfa::EditorToolbar
      @showTextStyleButtons='{{if @toolbarOptions.showTextStyleButtons "true"}}'
      @showListButtons='{{if @toolbarOptions.showListButtons "true"}}'
      @showIndentButtons='{{if @toolbarOptions.showIndentButtons "true"}}'
      @controller={{this.toolbarController}}
    >
      <:middle>
        {{#each this.toolbarMiddleWidgets as |widget|}}
          {{component
            widget.componentName
            controller=widget.controller
            plugin=widget.plugin
            widgetArgs=widget.widgetArgs
          }}
        {{/each}}
      </:middle>
      <:right>
        {{#if @editorOptions.showToggleRdfaAnnotations}}
          <AuToggleSwitch
            {{on 'click' this.toggleRdfaBlocks}}
            @label='Toon annotaties'
          />
        {{/if}}
        {{#each this.toolbarRightWidgets as |widget|}}
          {{component
            widget.componentName
            controller=widget.controller
            plugin=widget.plugin
            widgetArgs=widget.widgetArgs
          }}
        {{/each}}
      </:right>

    </Rdfa::EditorToolbar>
  {{/if}}

  <div class='say-container__main'>
    {{#if this.editorLoading}}
      <AuLoader />
    {{/if}}

    <div
      class='say-editor
        {{if @editorOptions.showRdfa "rdfa-annotations"}}
        {{if @editorOptions.showRdfaHighlight "rdfa-annotations-highlight"}}
        {{if @editorOptions.showRdfaHover "rdfa-annotations-hover"}}
        {{if this.showRdfaBlocks "show-rdfa-blocks"}}
        {{if this.editorLoading "au-u-hidden-visually"}}'
    >
      <div class='say-editor__paper'>
        <Ce::ContentEditable
          @class='say-editor__inner say-content'
          @editorInit={{this.handleRawEditorInit}}
          @plugins={{this.editorPlugins}}
          @baseIRI={{@baseIRI}}
          @stealFocus={{@stealFocus}}
        />
      </div>

    </div>

    <div class='say-container__aside'>
      <div class='say-editor-hints'>
        {{#if this.insertSidebarWidgets.length}}
          <Rdfa::PluginWrapper @title='Invoegen'>
            {{#each this.insertSidebarWidgets as |widget|}}
              {{component
                widget.componentName
                controller=widget.controller
                plugin=widget.plugin
                widgetArgs=widget.widgetArgs
              }}
            {{/each}}
          </Rdfa::PluginWrapper>
        {{/if}}
        <ul class='say-editor-hints__list'>
          {{#each this.sidebarWidgets as |widget|}}
            <li class='say-editor-hints__list-item'>
              {{component
                widget.componentName
                controller=widget.controller
                plugin=widget.plugin
                widgetArgs=widget.widgetArgs
              }}
            </li>
          {{/each}}
        </ul>
      </div>
      {{yield}}
    </div>
  </div>
  {{#if this.inlineComponentController}}
    <Rdfa::InlineComponentManager
      @controller={{this.inlineComponentController}}
    />
  {{/if}}
</div>
