<div class="say-annotation-sidebar">
  {{#each this.rdfaBlocks as |block|}}
    {{#if block.hasTopPosition}}
      {{#let 
        (and block.mostSpecificContext block.mostSpecificContext.typeof block.mostSpecificContext.typeof.firstObject)
        (and block.mostSpecificContext block.mostSpecificContext.properties block.mostSpecificContext.properties.firstObject)
        as |hasTypeOf hasProperties|
      }}
        {{#if hasTypeOf}}
          <p class="say-annotation-sidebar__item" style="position: absolute; top: {{block.topPosition}}px;">{{block.mostSpecificContext.typeof.firstObject}}</p>
          {{#if hasProperties}}
            <p class="say-annotation-sidebar__item" style="position: absolute; top: {{sum block.topPosition 20}}px;">{{block.mostSpecificContext.properties.firstObject}}</p>
          {{/if}}
        {{else if hasProperties}}
          <p class="say-annotation-sidebar__item" style="position: absolute; top: {{block.topPosition}}px;">{{block.mostSpecificContext.properties.firstObject}}</p>
        {{/if}}
      {{/let}}
    {{/if}}
  {{/each}}
</div>
