<div
  class='say-container
    {{if @editorOptions.showRdfaHover "say-container--sidebar-left"}}
    {{if @editorOptions.showPaper "say-container--paper"}}
    {{if @editorOptions.showSidebar "say-container--sidebar-right"}}
    {{if @editorOptions.showToolbarBottom "say-container--toolbar-bottom"}}'
  {{did-update this.updateProfile @profile}}
>
  {{#if this.toolbarController}}
    <Rdfa::EditorToolbar
      @editor={{this.editor}}
      @showTextStyleButtons='{{if @toolbarOptions.showTextStyleButtons "true"}}'
      @showListButtons='{{if @toolbarOptions.showListButtons "true"}}'
      @showIndentButtons='{{if @toolbarOptions.showIndentButtons "true"}}'
      @controller={{this.toolbarController}}
    >
      {{#if @editorOptions.showToggleRdfaAnnotations}}
        <AuToggleSwitch
          {{on 'click' this.toggleRdfaBlocks}}
          @label='Toon annotaties'
        />
      {{/if}}
      {{#each this.toolbarWidgets as |widget|}}
        {{component
          widget.componentName
          controller=widget.controller
          plugin=widget.plugin
        }}
      {{/each}}
    </Rdfa::EditorToolbar>
  {{/if}}

  <div class='say-container__main'>
    <div
      class='say-editor
        {{if @editorOptions.showRdfa "rdfa-annotations"}}
        {{if @editorOptions.showRdfaHighlight "rdfa-annotations-highlight"}}
        {{if @editorOptions.showRdfaHover "rdfa-annotations-hover"}}
        {{if this.showRdfaBlocks "show-rdfa-blocks"}}'
    >
      <div class='say-editor__paper'>
        <Ce::ContentEditable
          @class='say-editor__inner say-content'
          @rawEditorInit={{this.handleRawEditorInit}}
          @baseIRI={{@baseIRI}}
        />
      </div>
    </div>

    <div class='say-container__aside'>
      <div class='say-editor-hints'>
        {{#if this.insertSidebarWidgets.length}}
          <Rdfa::PluginWrapper @title="Invoegen">
            {{#each this.insertSidebarWidgets as |widget|}}
              {{component
                widget.componentName
                controller=widget.controller
                plugin=widget.plugin
              }}
            {{/each}}
          </Rdfa::PluginWrapper>
        {{/if}}
        <ul class='say-editor-hints__list'>
          
          {{#if this.suggestedHints.length}}
            {{#each this.suggestedHints as |hint|}}
              <li class='say-editor-hints__list-item'>
                {{component hint.component info=hint.info closeHints=this.closeHints}}
              </li>
            {{/each}}
          {{/if}}
          
          {{#if this.hasActiveHints}}
            {{#each this.hintsRegistry.activeHints as |card|}}
              <li class='say-editor-hints__list-item'>
                {{component card.card info=card.info}}
              </li>
            {{/each}}
          {{/if}}

          {{#each this.sidebarWidgets as |widget|}}
            <li class='say-editor-hints__list-item'>
              {{component
                widget.componentName
                controller=widget.controller
                plugin=widget.plugin
              }}
            </li>
          {{/each}}
        </ul>
      </div>
      {{yield}}
    </div>

    <Rdfa::LoadMonitor @editor={{this.eventProcessor.editor}} />
  </div>
</div>
