<div class="say-container {{if @editorOptions.showRdfaHover "say-container--sidebar-left" }}" {{did-update this.updateProfile @profile}}>
  {{#if this.editor}}
    <Rdfa::EditorToolbar
      @editor={{this.editor}}
      @showTextStyleButtons="{{if @toolbarOptions.showTextStyleButtons "true"}}" @showListButtons="{{if @toolbarOptions.showListButtons "true"}}"
      @showIndentButtons="{{if @toolbarOptions.showIndentButtons "true"}}">
      {{#if @editorOptions.showToggleRdfaAnnotations}}
      <div class="say-switch">
        <input {{on "click" this.toggleRdfaBlocks}} id="toggle-1" class="say-switch__input" type="checkbox" name="toggle">
        <label class="say-switch__label" for="toggle-1">Toon annotaties</label>
      </div>
      {{/if}}
      {{#if @editorOptions.showInsertButton}}
      <button type="button" class="say-button say-button--secondary" {{on "click" this.triggerHints}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--left" aria-hidden="true">
          <polygon points="40.5 24.643 24.643 24.643 24.643 40.5 19.357 40.5 19.357 24.643 3.5 24.643 3.5 19.357 19.357 19.357 19.357 3.5 24.643 3.5 24.643 19.357 40.5 19.357"/>
        </svg>
        Voeg sjabloon in
      </button>
      {{/if}}
    </Rdfa::EditorToolbar>
  {{/if}}

  <div class="say-container__main">
    <div class="say-editor {{if @editorOptions.showRdfa "rdfa-annotations" }} {{if @editorOptions.showRdfaHighlight "rdfa-annotations-highlight" }} {{if @editorOptions.showRdfaHover "rdfa-annotations-hover" }} {{if this.showRdfaBlocks "show-rdfa-blocks"}}">
      <div class="say-editor__paper">
        <Ce::ContentEditable
          @class="say-editor__inner say-content"
          @rawEditorInit={{this.handleRawEditorInit}}
          @editable={{true}}
        />
      </div>
    </div>

    <div class="say-container__aside">
      <div class="say-editor-hints">
        <ul class="say-editor-hints__list">
          {{#if this.suggestedHints.length}}
            <li class="say-editor-hints__list-item">
              <Rdfa::EditorSuggestedHints @suggestedHints={{this.suggestedHints}} />
            </li>
          {{/if}}
          {{#if this.hasActiveHints}}
            {{#each this.hintsRegistry.activeHints as |card|}}
              <li class="say-editor-hints__list-item">
                <div class="say-card"> {{!-- Todo: remove this div once it is over --}}
                  {{component card.card info=card.info}}
                </div>
              </li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
      {{yield}}
      <Rdfa::LoadMonitor @editor={{this.eventProcessor.editor}} />
    </div>
  </div>
</div>
