<div class="rdfa-context-debugger-debug-panel">
  <h3 class="h3">RDFa context debugger</h3>

  <div>
    <h4 class="h4">Context scanner</h4>
    <div>Scan region van <Input @type="number" @value={{this.scanStart}} {{on "input" this.updateScanStart}} />
         tot <Input @type="number" @value={{this.scanEnd}}  {{on "input" this.updateScanEnd}}/></div>
    <div><button {{on "click" this.analyse}} type="button">Bereken context</button></div>
  </div>

  <div>
    <h4 class="h4">Context selection</h4>
    <div>Selecteer context van <Input @type="number" @value={{this.selectStart}} /> tot <Input @type="number" @value={{this.selectEnd}} /></div>
    <div>
      met scope
      <select name="scopes" {{on "change" this.setScope}}>
        {{#each this.selectScopes as |scope|}}
          <option value="{{scope}}" selected={{if (eq scope this.selectOptions.scope) 'true'}}>{{scope}}</option>
        {{/each}}
      </select>
      en filter:
      <div>
        <label>Resource:</label>
        <Input @value={{this.selectOptions.resource}} class="uri" />
      </div>
      <div>
        <label>Typeof (1 per line)</label>
        <Textarea @value={{this.selectOptions.typeofString}} @cols="300" @rows="5" />
      </div>
      <div>
        <label>Property (1 per line)</label>
        <Textarea @value={{this.selectOptions.propertyString}} @cols="300" @rows="5" />
      </div>
      <div>
        <label>Datatype:</label>
        <Input @value={{this.selectOptions.datatype}} class="uri" />
      </div>
    </div>
    <div>
      <button {{on "click" this.selectContext}} type="button">Selecteer context</button>
    </div>
  </div>

  {{#if this.blocks}}
    <h4 class="h4">RDFa context</h4>
    {{#each this.blocks as |block|}}
      <h5 class="h5">[{{block.region}}] "{{block.text}}" <button {{on "click" fn(this.highlight block.region)}} type="button">Highlight</button></h5>
      <pre>
        {{#each block.context as |statement|}}
      &lt;{{statement.subject}}&gt; {{#if (eq statement.predicate 'a')}}{{statement.predicate}}{{else}}&lt;{{statement.predicate}}&gt;{{/if}} {{#if (rdfa/is-uri statement.object)}}&lt;{{statement.object}}&gt;{{else}}"{{statement.object}}"{{/if}}{{#if statement.datatype}}^^&lt;{{statement.datatype}}&gt;{{/if}}

        {{/each}}
      </pre>
      <hr>
    {{/each}}
  {{else if this.selections}}
    <h4 class="h4">RDFa selections</h4>
    {{#each this.selections as |selection|}}
      <h5 class="h5">[{{selection.region}}] "{{selection.richNode.domNode.textContent}}" <button onclick={{action "highlight" selection.region}}>Highlight</button></h5>
      <pre>
        {{#each selection.context as |statement|}}
      &lt;{{statement.subject}}&gt; {{#if (eq statement.predicate 'a')}}{{statement.predicate}}{{else}}&lt;{{statement.predicate}}&gt;{{/if}} {{#if (rdfa/is-uri statement.object)}}&lt;{{statement.object}}&gt;{{else}}"{{statement.object}}"{{/if}}{{#if statement.datatype}}^^&lt;{{statement.datatype}}&gt;{{/if}}

        {{/each}}
      </pre>
    {{/each}}

  {{else}}
    Geen resultaten
  {{/if}}
</div>
