<div class='say-dropdown' ...attributes>
  <button
    class='say-dropdown__button {{if this.dropdownOpen "is-active" ""}}'
    aria-haspopup='true'
    aria-expanded='{{if this.dropdownOpen "true" "false"}}'
    type='button'
    {{on 'click' this.openDropdown}}
    title={{t 'ember-rdfa-editor.table-options'}}
  >
    <img src='@lblod/ember-rdfa-editor/assets/editor-icons/table-more.svg' />
    <span class='au-u-hidden-visually'>{{@dropdownButtonLabel}}</span>
  </button>
  {{#if this.dropdownOpen}}
    <div
      id='{{this.dropdownId}}'
      class='say-dropdown__menu is-visible'
      role='menu'
      tabindex='-1'
      {{focus-trap
        isActive=true
        shouldSelfFocus=true
        focusTrapOptions=(hash
          allowOutsideClick=this.closeDropdown returnFocusOnDeactivate=false
        )
      }}
    >
      {{yield
        (hash
          Item=(component 'rdfa/dropdown-item' onActivate=this.closeDropdown)
        )
      }}
    </div>
  {{/if}}
</div>
