<AuContent @skin="tiny">
  <AuToolbar as |Group|>
    <Group>
      <AuHeading @level="5" @skin="5">Relationships</AuHeading>
    </Group>
    <Group>
      <AuButtonGroup>
        <AuButton @icon="plus" @skin="naked">
          Add relationship
        </AuButton>
        <AuButton
          @skin="naked"
          @icon={{if this.collapsed "chevron-down" "chevron-up"}}
          {{on "click" this.toggleSection}}
        />
      </AuButtonGroup>
    </Group>
  </AuToolbar>
  {{#unless this.collapsed}}
    <div>
      <AuHeading
        @level="6"
        @skin="6"
        class="au-u-margin-bottom-small"
      >Outgoing</AuHeading>
      {{#if this.outgoing}}
        <AuList @divider={{true}} as |Item|>
          {{#each-in this.outgoing as |pred prop|}}
            <Item
              class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
            >
              <AuButton
                @icon="external-link"
                @skin="link"
                {{on "click" (fn this.goToNodeWithId prop.nodeId)}}
              >{{pred}}</AuButton>
              <AuButton @icon="three-dots" @skin="naked" />
            </Item>
          {{/each-in}}
        </AuList>
      {{else}}
        <p>This node doesn't have any outgoing relationships</p>
      {{/if}}
    </div>
    <div>
      <AuHeading
        @level="6"
        @skin="6"
        class="au-u-margin-bottom-small"
      >Backlinks</AuHeading>
      {{#if this.backlinks}}
        <AuList @divider={{true}} as |Item|>
          {{#each-in this.backlinks as |pred prop|}}
            <Item
              class="au-u-flex au-u-flex--row au-u-flex--between au-u-flex--vertical-center"
            >
              <AuButton
                @icon="external-link"
                @skin="link"
                {{on "click" (fn this.goToNodeWithId prop.subjectId)}}
              >{{pred}}</AuButton>
              <AuButton @icon="three-dots" @skin="naked" />
            </Item>
          {{/each-in}}
        </AuList>
      {{else}}
        <p>This node does not have any backlinks</p>
      {{/if}}
    </div>
  {{/unless}}
</AuContent>