<div class="c-dummy">
  <div class="c-dummy__header">
    <h1>Dummy app </h1>
    <p>App version: {{app-version versionOnly=true showExtended=true}}</p>
    {{#if this.rdfaEditor}}
      <p>Sample data:
        {{#each-in model as |name data| }}
          <a {{on "click" (fn this.loadData data)}}>{{name}}</a> |
        {{/each-in}}
      </p>

    {{else}}
      Waiting for editor init
    {{/if}}
  </div>
  <div class="c-dummy__content">
    <div vocab="http://data.vlaanderen.be/ns/foo#" resource="#Foo" typeof="Foo">
      <div vocab="http://data.vlaanderen.be/ns/besluit#"
           prefix="eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit#"
           class="app-view">

        <Rdfa::RdfaEditor
          @rdfaEditorInit={{this.rdfaEditorInit}}
          @initDebug={{this.initDebug}}
          @profile="default"
          class="rdfa-playground"
          @editorOptions={{hash showToggleRdfaAnnotations="true" showInsertButton=null showRdfa="true" showRdfaHighlight="true" showRdfaHover="true"}}
          @toolbarOptions={{hash showTextStyleButtons="true" showListButtons="true" showIndentButtons="true"}}
        />
      </div>
    </div>

    <div class="c-dummy-debugger">
      {{rdfa/rdfa-editor-debugger debug=debug}}
    </div>
  </div>
</div>
