<AuContent @skin="tiny">
  <AuToolbar as |Group|>
    <Group>
      <AuHeading @level="5" @skin="5">Properties</AuHeading>
    </Group>
    <Group>
      <AuButton @icon="pencil" @skin="naked" {{on 'click' this.openModal}}>
        Manage
      </AuButton>
    </Group>
  </AuToolbar>
  <AuList @divider={{true}} as |Item|>
    {{#each-in this.attributeProperties as |pred prop|}}
      <Item>
        <div class="au-u-padding-tiny">
          <p><strong>{{pred}}</strong></p>
          <p>{{prop.object}}</p>
        </div>
      </Item>
    {{/each-in}}
  </AuList>
</AuContent>
<this.Modal
  @modalOpen={{this.modalOpen}}
  @onClose={{this.closeModal}}
  @node={{@node}}
/>